#hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70vh;
  gap: 10vw;
}

#heroLeft {
  flex: 1;
  /* max-width: 650px; */
}

#heroLeft h2 {
  font-weight: bold;
  margin-bottom: 12px;
}

#heroLeft p {
  font-size: var(--ml-text);
  margin-bottom: 18px;
}

#hero img {
  height: 325px;
}

#skills {
  display: flex;
  justify-content: space-between;
  row-gap: 16px;
  column-gap: 16px;
  position: relative;
  background-color: var(--darker-bg);
  padding: 32px;
  border-radius: 40px;
  transition: var(--transition);
}

#skills svg {
  font-size: var(--xl-text);
  fill: var(--muted-white);
}

@media screen and (width < 850px) {
  #hero img {
    height: 250px;
  }
  #heroLeft p {
    font-size: var(--m-text);
  }

  #skills {
    flex-wrap: wrap;
    column-gap: 0;
    justify-content: flex-start;
  }

  #skills svg {
    width: 16.66%;
    padding-left: 8px;
    padding-right: 8px;
  }

  .circleTitleWrapper {
    position: absolute;
    left: -60px;
  }

  .circleTitleWrapper svg {
    width: 120px;
  }
}