#infoTable {
  text-align: left;
  border-spacing: 0;
  margin-top: 40px;
  white-space: nowrap;
}

#infoTable th {
  font-weight: 400;
  color: var(--muted-white);
  padding-bottom: 0.5em;
  border-bottom: 1px solid var(--line-color);
}

#infoTable th:not(:last-of-type), #infoTable td:not(:last-of-type) {
  padding-right: 40px;
}

#infoTable td {
  color: white;
  padding-top: 0.5em;
}

#infoTable svg:not(:last-of-type) {
  margin-right: 0.3em;
}

#description {
  width: 60%;
  line-height: 1.35em;
}

#images {
  margin-top: 80px;
}

#images img {
  width: 100%;
  border-radius: var(--rounded-border);
}

#images img:not(:last-of-type) {
  margin-bottom: 40px;
}

#links {
  display: flex;
  justify-content: space-between;
}

#links > div {
  display: flex;
}

#links > div > a {
  flex-shrink: 1;
}

#nextProject {
  position: relative;
}

#nextProject span {
  position: absolute;
  left: 0;
  bottom: 10px;
}

@media screen and (width < 925px) {
  #links a {
    font-size: 2rem;
  }
}

@media screen and (width < 850px) {
  #description {
    width: 100%;
  }
}

@media screen and (width < 775px) {
  #links {
    flex-direction: column;
  }

  #nextProject a {
    margin-top: 0;
  }
}