#headerOuter {
  background: rgba(var(--bg-rgb), 0.7);
  backdrop-filter: blur(15px);
  position: sticky;
  top: 0;
  z-index: 99;
}

#headerOuter::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: auto;
  right: 0;
  background-color: var(--line-color);
  transition: var(--transition-3);
}

.scrolledHeader:after {
  width: 100% !important;
  right: auto !important;
  left: 0 !important;
}

.headerInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.headerInner a {
  padding: 30px 16px;
  transition: none;
}

#name {
  font-weight: bold;
  position: relative;
  background: var(--gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: translateX(-16px);
}

#name:hover {
  opacity: 0.8;
}

#links {
  display: flex;
  gap: 8px;
  transform: translateX(16px);
}

#links a {
  position: relative;
}

#links a:not(:last-of-type)::after {
  content: "/";
  position: absolute;
  color: var(--line-color);
  left: calc(100% + 4px);
  transform: translateX(-50%);
}

#links a span {
  position: relative;
}

#links a:hover span {
  color: white;
}

#links a:not(#selected) span::after {
  content: "";
  position: absolute;
  bottom: -2px;
  right: 0;
  width: 0;
  height: 1px;
  background: white;
  transition: var(--transition);
}

#links a:not(#selected):hover span::after {
  width: 100%;
  left: 0;
  right: auto;
}

#selected span {
  position: relative;
  background: var(--gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#selected span::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--gradient);
}

#dropdownButton {
  background: none;
  width: 40px;
  height: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 8px;
  display: none;
}

#dropdownButton > div {
  background-color: white;
  height: 0.5px;
  transition: var(--transition);
}

#dropdownButton[aria-expanded="false"] > div:first-of-type {
  width: 32px;
}

#dropdownButton[aria-expanded="false"] > div:last-of-type {
  width: 24px;
}

#dropdownButton[aria-expanded="true"] {
  gap: 0;
}

#dropdownButton[aria-expanded="true"] > div:first-of-type {
  width: 24px;
  transform: rotate(45deg);
}

#dropdownButton[aria-expanded="true"] > div:last-of-type {
  width: 24px;
  transform: rotate(-45deg);
}

@media screen and (width < 650px) {
  #dropdownButton {
    display: flex;
  }

  #links {
    position: absolute;
    right: 0;
    padding: 12px;
    top: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    transform: none;
  }

  #links[aria-expanded="true"] {
    transform: translateX(0);
  }

  #links[aria-expanded="false"] {
    /* Make sure links container is off of the page after all of the links animate out */
    transition: 0s;
    transition-delay: 400ms;
    transform: translateX(500px);
  }

  #links[aria-expanded="true"] a {
    transform: translateX(0);
  }

  #links[aria-expanded="false"] a {
    transform: translateX(250px);
  }

  #links[aria-expanded="true"] a:nth-child(2) {
    transition-delay: 100ms;
  }

  #links[aria-expanded="true"] a:nth-child(3) {
    transition-delay: 200ms;
  }

  #links[aria-expanded="false"] a:nth-child(2) {
    transition-delay: 100ms;
  }

  #links[aria-expanded="false"] a:nth-child(1) {
    transition-delay: 200ms;
  }

  #links a {
    padding: 24px 32px;
    border-radius: 999px;
    justify-content: center;
    margin-left: auto;
    transition: transform var(--transition);
    border: 1px solid var(--line-color);
    box-shadow: 2px 2px 16px #0007;
    background: var(--bg);
  }

  #links a::after {
    display: none;
  }
}