.project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 0;
  background: none;
  color: white;
  position: relative;
  z-index: 2;
}

.projectDivider {
  content: "";
  width: 100%;
  height: 1px;
  background: var(--line-color);
  z-index:-99;
}

.hoverLine {
  content: "";
  width: 0;
  height: 1px;
  background: white;
  transition: 0.5s cubic-bezier(.2,.8,.4,.94);
  transform: translateY(1px);
  z-index: -99;
}

.hoverLine[aria-hidden="false"] {
  width: 100%;
  left: 0;
  right: auto;
}

.project h2 {
  position: relative;
  display: inline-block;
  background: var(--anchor-gradient);
  background-size: 300%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.5s cubic-bezier(.2,.8,.4,.94);
}

.project:hover h2 {
  background-position-x: 100%;
}

.tools {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 6px;
}

.tools svg {
  font-size: var(--ml-text);
  fill: var(--muted-white);
}

.hoverPreview {
  width: 350px;
  height: 350px;
  /* background-color: red; */
  position: absolute;
  z-index: 1;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
}

.hoverPreview img {
  width: 90%;
  margin: auto;
}

.hoverPreview[aria-hidden="true"]:not(.hoverPreview[aria-disabled="true"]) {
  animation: hidePreview 0.3s ease-out forwards;
}

.hoverPreview[aria-hidden="false"] {
  animation: showPreview 0.3s ease-out forwards;
}

@keyframes hidePreview {
  from {
    opacity: 1;
    transform: scale(1) translate(-50%, -50%);
    visibility: visible
  }
  to {
    opacity: 0;
    transform: scale(0.5) translate(-100%, -100%);
    visibility: hidden;
  }
}

@keyframes showPreview {
  from {
    opacity: 0;
    transform: scale(0.5) translate(-100%, -100%);
    visibility: visible
  }
  to {
    opacity: 1;
    transform: scale(1) translate(-50%, -50%);
    visibility: visible
  }
}