.contactWrapper {
  align-items: center;
}

.contactWrapper a {
  gap: 0;
}

.contactWrapper a span {
  display: inline-block;
  font-size: var(--xl-text);
}

#footer {
  background: linear-gradient(to bottom, rgba(var(--yellow-rgb), 0), rgba(var(--yellow-rgb), 0.07));
  height: 500px;
}