@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Ubuntu+Mono&display=swap');

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--bg);
  color: white;

  overflow-x: hidden;

  --bg: rgb(34, 34, 34);
  --bg-rgb: 34, 34, 34;
  --darker-bg: #161616;
  --line-color: #555;
  --muted-white: rgba(255, 255, 255, 0.75);
  --yellow: #FAFF00;
  --yellow-rgb: 250, 255, 0;
  --pink: #CC00FF;
  --gradient: linear-gradient(115deg, var(--yellow), var(--pink));
  --anchor-gradient: linear-gradient(to right, white, white, var(--yellow), var(--pink));
  --transition: 0.2s cubic-bezier(0.215, 0.610, 0.355, 1);
  --transition-2: 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
  --transition-3: 1.5s cubic-bezier(0.215, 0.610, 0.355, 1);

  /* transition:  */
  --xxl-text: 5rem;
  --xl-text: 4rem;
  --l-text: 2.5rem;
  --ml-text: 1.5rem;
  --m-text: 1rem;
  --s-text: 0.75rem;

  --rounded-border: 8px;
}

p, span {
  font-size: var(--m-text);
  color: var(--muted-white);
}

a {
  text-decoration: none;
  transition: var(--transition);
  color: white;
}

.with-gradient {
  position: relative;
  background: var(--anchor-gradient);
  background-size: 300%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.with-gradient:hover {
  background-position-x: 100%;
}

button, a {
  cursor: pointer;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 0.5em;
  transition: var(--transition);
}

button svg, a svg {
  font-size: 0.8em;
}

.large-anchor {
  font-size: var(--l-text);
  margin: 40px 0;
  position: relative;
}

.large-anchor svg {
  font-size: 0.7em;
}

.underline-anchor {
  position: relative;
}

.underline-anchor:hover {
  gap: 0.65em;
}

.underline-anchor::after {
  content: "";
  position: absolute;
  bottom: -0.2em;
  right: 0;
  width: 0;
  height: 1px;
  background: white;
  transition: var(--transition);
}

.underline-anchor:hover::after {
  width: 100%;
  left: 0;
  right: auto;
}

.primary-button {
  position: relative;
  background: var(--gradient);
  padding: 18px 24px;
  font-size: var(--ml-text);
  border-radius: var(--rounded-border);
  white-space: nowrap;
  color: black;
}

.primary-button > * {
  z-index: 1;
}

#ctaWrapper {
  position: relative;
  width: fit-content;
}

#cta-hover-1, #cta-hover-2  {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -99;
  border: 3px solid white;
  border-radius: var(--rounded-border);
  opacity: 0;
}

#cta-hover-1 {
  transition: 0.1s ease-out;
}

#cta-hover-2 {
  transition: 0.2s ease-out;
}

.primary-button:hover ~ #cta-hover-1 {
  opacity: 0.3;
  left: 7px;
  top: 7px;
}

.primary-button:hover ~ #cta-hover-2 {
  opacity: 0.1;
  left: 14px;
  top: 14px;
}

p, span, a, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1em;
}

h1 {
  font-size: var(--xxl-text);
}

h2 {
  font-size: var(--xl-text);
}

h3 {
  font-size: var(--l-text);
}

h4, h5 {
  font-size: var(--ml-text);
}

h6 {
  font-size: var(--m-text);
  color: var(--muted-white);
}

.flex {
  display: flex;
}

.container {
  max-width: 1360px;
  padding-right: 80px;
  padding-left: 80px;
  margin: auto;
}

.rotate {
  animation: rotates 12s linear infinite;
  border-radius: 999px;
}

@keyframes rotates {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.doneAnimating span::after {
  height: 0;
  top: 100%;
}

.animateIn span {
  display: none;
  color: inherit;
  font-size: inherit;
  height: 1.2em;
  line-height: 1.2em;
}

.animated {
  position: relative;
  display: inline-block !important;
}

.animated::after {
  content: "";
  position: absolute;
  right: -0.1em;
  top: 0;
  height: 1.2em;
  width: 2px;
  background-color: white;
  transition: var(--transition-2);
}

.noCursor::after {
  display: none;
  animation: none !important;
}

.cursorOnly {
  width: 0;
}

.cursorOnly::after {
  animation: flicker 1s linear infinite;
}

@keyframes flicker {
  0% {
    background-color: white;
  }
  49.9% {
    background-color: white;
  }
  50% {
    background-color: transparent;
  }
  100% {
    background-color: transparent;
  }
}

#cta {
  opacity: 0;
  visibility: hidden;
  transition: var(--transition-2);
}

.ctaAnimateIn {
  visibility: visible !important;
  animation: fadeIn var(--transition-3) forwards;
}

.fadeIn {
  position: static;
  animation: fadeIn var(--transition-3) forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  33% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: initial;
  }
}

.code {
  font-family: 'Ubuntu Mono', monospace;
  padding: 1em;
  background-color: var(--darker-bg);
  width: 100%;
  border-radius: var(--rounded-border);
  box-shadow: 0 0 16px inset #0009;
}

.two-columns {
  display: flex;
  margin-top: 80px;
}

.two-columns > div:last-of-type {
  flex: 1;
}

.circle-title-wrapper {
  width: 280px;
  padding-right: 80px;
}

.circle-title-wrapper svg {
  position: sticky;
  top: 90px;
}

#title {
  margin-top: 60px;
  margin-bottom: 60px;
}

@media screen and (width < 850px) {
  body {
    --xxl-text: 4rem;
    --xl-text: 3rem;
    --l-text: 2rem;
    --ml-text: 1.25rem;
    --m-text: 1rem;
    --s-text: 0.75rem;
  }

  .primary-button {
    padding: 14px 18px;
  }

  .circle-title-wrapper {
    display: none;
  }
}

@media screen and (width < 650px) {
  .container {
    padding-right: 40px;
    padding-left: 40px;
  }
}
